<form action="/api/roles" method="POST" class="row g-3">
  <h2 class="text-center">Add New Role</h2>
  <div class="col-md-6">
    <label for="description" class="form-label">Role Description</label>
    <input type="text" class="form-control" id="description" name="description" required>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add Role</button>
  </div>
</form>
