<form action="/api/roles/edit/{{role.id}}" method="POST" class="row g-3">
  <h2 class="text-center">Edit Role</h2>
  <div class="col-md-6">
    <label for="description" class="form-label">Role Description</label>
    <input type="text" class="form-control" id="description" name="description" value="{{role.description}}" required>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update Role</button>
  </div>
</form>
